{% extends "base.html" %} {% block title %}forget{% endblock %} {% block
    content %}
    <form method="POST"><br/>
      <h3 align="center">Forget password</h3>
    
      <div class="form-group">
        <label for="email_for_reset">Please enter your email address and we will send you a password reset key.</label>
        <input
          type="email"
          class="form-control"
          id="email_for_reset"
          name="email_for_reset"
          placeholder="Enter email"
        />
      </div>
      <button type="submit" class="btn btn-primary">Reset password</button>
      <br/>
      <br/>
    </form>
    {% endblock %}
    